* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

@font-face {
  src: url(../font/Spartan-VariableFont_wght.ttf);
  font-family: Spartan;
}

.info-container {
  display: flex;
}

.image-div {
  position: relative;
  height: 65vh;
  width: 100vw;
}

.image {
  height: 100%;
  width: 100%;
}

.main_list {
  display: flex;
}

.hamburguer {
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
  width: 3vh;
  height: 15px;
  border: 0;
  cursor: pointer;
}

.cross {
  background-color: transparent;
  background-image: url("../images/icon-close.svg");
  background-repeat: no-repeat;
  width: 3vh;
  height: 15px;
  border: 0;
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.text-container {
  font-family: Spartan;
  display: flex;
  width: 68%;
}

.text-box {
  display: flex;
  text-align: left;
  flex-direction: column;
  margin-top: 20px;
  padding: 14%;
  padding-bottom: 0;
}

dt {
  font-size: 50px;
  line-height: 50px;
  font-weight: 1000;
  margin-bottom: 60px;
}

dd {
  margin-bottom: 40px;
  font-size: 16.3px;
  line-height: 25px;
  color: hsl(0, 0%, 63%);
  height: 6.5vh;
}

.shop-now a {
  text-decoration: none;
  color: black;
  margin-right: 50px;
  font-size: 18px;
  letter-spacing: 10px;
}

a:hover {
  color: hsl(0, 0%, 63%);
}

.buttoms {
  position: absolute;
  left: 59.5%;
  bottom: 35%;
}

.arrow-button {
  background: black;
  border: none;
  width: 5.4vw;
  height: 83px;
}

.arrow-button:hover {
  background: hsl(0, 0%, 63%);
  cursor: pointer;
}

button:focus {
  outline: 0;
}

/* Navbar */

.nav {
  position: absolute;
  top: 6.1vh;
  left: 3.2vw;
}

/* .container {
  display: flex;
  align-items: center;
} */

ul li {
  display: inline;
  margin-left: 60px;
}

.navlinks a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.navlinks a:hover {
  background-image: linear-gradient(white, white);
  background-position: bottom center; /*Adjust the background-position to move the line*/
  background-size: 50% 2px; /*Adjust the background size to control length and height*/
  background-repeat: no-repeat;
  padding-bottom: 8px;
}

.logo spam {
  font-size: 35px;
  color: white;
}

@media (max-width: 1824px) {
  dt {
    font-size: 44px;
    font-weight: 1000;
    margin-bottom: 30px;
  }
  dd {
    font-size: 15px;
  }
  .text-box {
    position: relative;
  }
  .shop-now {
    position: absolute;
    top: 82.6%;
    left: 41%;
  }
}

@media (max-width: 815px) {
  .info-container {
    flex-direction: column;
    align-items: center;
  }
  .image-div {
    height: 46vh;
  }
  .nav {
    height: 40%;
  }
  .main_list {
    display: inline;
  }
  .logoAndHamburguer {
    display: flex;
    flex-direction: row-reverse;
  }
  #hamOrCrossDiv {
    margin-right: 14vh;
  }
  .navlinks {
    display: none;
  }

  .navlinks-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: white;
    left: 0;
    right: 0;
    top: 0vh;
    height: 14%;
    padding: 0 20px;
  }

  .navlinks-mobile li {
    margin-left: 0;
  }

  .navlinks-mobile li a {
    color: black;
    font-weight: 500;
    text-decoration: none;
  }
  .buttoms {
    position: absolute;
    display: flex;
    left: 70.4%;
    bottom: 54%;
  }
  .arrow-button {
    background: black;
    border: none;
    width: 14.8vw;
    height: 7vh;
  }
  .arrow-button:focus {
    background: hsl(0, 0%, 63%);
  }
  .text-container {
    width: 82%;
    margin-bottom: 44%;
  }
  .text-box {
    margin-top: 60px;
    padding: 0;
  }
  .text-box dt {
    font-size: 28px;
    line-height: 31px;
  }
  .text-box dd {
    font-size: 12.5px;
  }
  .shop-now {
    left: 0;
    margin-top: 41% !important;
  }
}

@media (max-width: 360px) {
  .text-container {
    margin-bottom: 72%;
  }
  .shop-now {
    margin-top: 81% !important;
  }
  .shop-now a {
    font-size: 14px;
  }
}
